[user]
	name  = S.M. Mostofa Morshed Sayeem
	email = 198875870+smmmsmo@users.noreply.github.com

[core]
	pager = delta

[init]
	defaultBranch = master

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[commit]
	verbose = true

[diff]
	algorithm      = histogram
	colorMoved     = default
	mnemonicPrefix = true

[merge]
	conflictstyle = zdiff3

[branch]
	sort = -committerdate

[tag]
	sort = -version:refname

[column]
	ui = auto

[rerere]
	enabled    = true
	autoupdate = true

[color]
	ui = true

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate      = true
	dark          = true
	syntax-theme  = tokyonight
	line-numbers  = true
	side-by-side  = false

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status

[filter "lfs"]
	clean    = git-lfs clean -- %f
	smudge   = git-lfs smudge -- %f
	process  = git-lfs filter-process
	required = true
